<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dreamspell</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        {% block head %}{% endblock %}
        <link href="/static/css/home_cover.css" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">
        {% block content %}{% endblock %}
    </body>
</html>
