{% extends "base_site.html" %}
{% block content %}
<body class="d-flex text-center text-bg-dark">
    <p class="lead">
ПРОЧТИТЕ ПЕРЕД ИСПОЛЬЗОВАНИЕМ СЧИТАЛКИ



В Dreamspell точное время рождения в большинстве случаев не имеет значения, но всё-таки учитывается.

Есть важный нюанс, который следует учитывать тем, кто родился в промежуток с 00-00 до 01-30.

Смена суток происходит не по местному времени, а в астрономическую полночь: момент времени между закатом и рассветом. Он варьируется от около часа ночи, в зависимости от места. Обычно это около часа ночи, плюс-минус полчаса.

Это значит, что:
если вы родились в промежуток между 00-00 и 00-30, то, эта заметка для вас и вам надо вводить дату на день раньше
если вы родились в промежуток между 00-30 и 01-30, то напишите нам в директ, мы поможем разобраться
если вы родились в промежуток между 01-30 и 23-59, то это вас не касается, вам не о чем переживать, просто вводите свою дату рождения и наслаждайтесь!
    </p>
</body>
{% endblock %}


