{% extends "base_site.html" %}
{% block content %}
<body class="d-flex text-center text-bg-dark">
    <p class="lead">
READ BEFORE USING THE DATE CONVERTER:


Please, note that in order to get correct results the time of birth must be accounted for.

Usually, the time of birth is not significant in Dreamspell, only the date.
However, there is an important nuance that should be taken into account
for those who were born between midnight and 01:30 AM.

The change of day occurs not at local time, but at astronomical midnight:
the exact moment between sunset and dawn.
That time is usually around 01AM, plus/minus half hour.

Which means that:
if you were born between 00:00 and 00:30AM, then you will need to enter the date previous to your birthday
if you were born between 00:30 and 01:30AM, then send us a DM, and we will help you figure it out
if you were born between 01:30AM and 23:59PM, then this does not concern you; you have nothing to worry about. Just enter your date of birth and enjoy!



    </p>
</body>
{% endblock %}


