{% extends "layout.html" %}
{% block content %}
<body class="d-flex text-center text-bg-dark">
    <p class="lead">


    Public Contract-Offer

This document, permanently posted on the Internet at the network address http://dreamspell.ru, is an offer by the Individual Entrepreneur Solomatin Nikita Igorevich OGRNIP 3075047255500019, TIN 504709379968 (hereinafter referred to as the "Offer" - the "Contractor") to conclude a Contract for the provision of information and consulting and training services (hereinafter referred to as the "Contract") with any interested individual (hereinafter referred to as the "Customer").

This document is a public offer in accordance with paragraph 2 of Article 437 of the Civil Code of the Russian Federation.

Proper acceptance of this Offer in accordance with Article 438 of the Civil Code of the Russian Federation is the implementation by the Customer in the aggregate of all the following actions:


● familiarization of the Customer with the terms of the Offer;
● full payment for services in accordance with the terms hereof. From the moment of depositing monetary funds to pay for the services of the Contractor, this contract shall be deemed concluded between the Customer and the Contractor;
● consent to the processing by the Contractor of the Customer's personal data by pressing the button “Go!"

Acceptance of this Offer and, accordingly, the conclusion hereof shall mean that the Customer, to the extent necessary for him, has familiarized himself with the terms and conditions hereof and the rules of the payment system (hereinafter referred to as the "System"), the specifics of the functioning of the System and the training platform on which webinars are held and training materials are posted, recognizes the unconditional suitability of the System, platform for performing actions and achieving goals that are the subject matter hereof.

By accepting this offer, the Customer confirms that the provision of services by the Contractor hereunder remotely using software (hereinafter referred to as the "Software") is fully consistent with the Customer's ability to use the services provided in this way.

The Contractor's website - http://dreamspell.ru (hereinafter referred to as the "Website").


1. SCOPE OF CONTRACT

1.1. This Contract is a public offer of the Contractor and contains all the essential terms and conditions of the contract for the provision of information and consulting services (in accordance with Article 435 and Part 2 of Article 437 of the Civil Code of the Russian Federation).
1.2. A person who accepted this public offer acquires all the rights and obligations of the Customer hereunder
1.3. The acceptance of this public offer shall be the payment by the Customer for services in part or in full in accordance with the Tariffs posted on the Website, in accordance with the terms and conditions hereof. From the moment of receipt of monetary funds in payment for the services rendered to the settlement account of the Contractor, this Contract shall be deemed concluded between the Customer and the Contractor, which entails the obligations of the Parties hereunder
1.4. The Contractor shall have the right at any time to change the schedule and conditions for the provision of services and the conditions of this public Offer unilaterally without prior agreement with the Customer, while ensuring the publication of the amended conditions on the Website and in social media accounts: https://www.instagram.com/dreamspell.ru/, at least one day before they go into effect.

‌2. PROCEDURE FOR THE PROVISION OF SERVICES.

‌2.1 The provision of services shall be carried out by providing access to a closed section of the learning platform, a website where materials are posted aimed at obtaining knowledge of the science of time about Dreamspell, as well as by written answers to the Customer's questions or other information support of the Customer.

The Contractor shall not guarantee that the Customer will master a certain level of knowledge in perfection or achieve the goals pursued by the Customer, due to the fact that mastering the appropriate level of knowledge and achieving goals directly depends on the time spent by the Customer on independent training and the efforts made by the Customer in studying (including implementation of practical tasks, recommendations of the Contractor, etc.).

2.2. Feedback can be provided in the form of answers to the Customer's questions sent in a special feedback form on the training platform or in another way indicated on the Website.
2.3. Information about the conditions for the provision of services shall be posted on the Website, and may also be sent to the Customer at the email address specified by the Customer when placing an order.
2.4. Services hereunder shall be limited to providing the Customer with information for study and the formation of skills for its independent use.
2.5. The Contractor shall provide the Customer with access to the training platform, the Website for the period of training after payment for the Contractor's services in full.
2.6. The Customer shall have the right to apply to the Contractor once with a written application to postpone the provision of paid services hereunder with documents confirming the impossibility of receiving services in the corresponding training stream: certificates of illness, natural disasters, as well as other events that make it impossible for the Customer to receive the services provided for herein.
2.7. The Contractor shall have the right, but is not obliged to satisfy the conditions specified in clause 2.6. hereof if the following conditions are present in the aggregate:

- documents submitted by the Customer confirm the impossibility of receiving services at the agreed time;
- there is a real opportunity to include the Customer in the schedule at a convenient time for the Contractor.

‌The‌ services hereunder shall be deemed rendered with proper quality and on time, as well as accepted by the Customer (regardless of whether the Customer viewed the materials or not), if within three (3) calendar days after the expiration of the period specified in clause 3.1 hereof, the Customer has not declared a reasoned objection to the quality and scope of such services by sending a corresponding appeal to the following address: swami@sattyanand.ru.

3. RIGHTS AND OBLIGATIONS OF THE PARTIES

3.1. The Contractor shall assume the following obligations:
3.1.1. provide the Customer with access to the materials by sending a link to the e-mail address specified by the Customer when ordering services no later than ten working days after payment for the Contractor's services.
3.1.2. organize Feedback in the form of answers to the Customer's questions in the personal account on the training platform or by sending answers by e-mail to the Customer.
3.1.3. keep confidential information received from the Customer when providing services hereunder.
3.1.4. comply with the requirements of the law regarding the processing, transfer and protection of the Customer's personal data.
3.2. The Contractor shall have the right to:
3.2.1. not allow the Customer to watch video tutorials or webinars in the absence of full payment for services.
3.2.2. independently choose the methods of rendering services, types of information and training materials, the procedure and schedule for their placement and provision of access to them.
3.2.3. block the Customer's participation in the webinar or feedback without the right to a refund in case of violation of the rules of conduct in the process of receiving services hereunder, namely: inciting ethnic conflicts, distracting participants from the topic of the lesson, spam, advertising, obscene statements, rudeness, insulting the Contractor, insulting other listeners. The Contractor shall have the right to block the participation of the Customer under the terms and conditions of this clause temporarily or until the end of the training.
3.2.4. involve third parties in the process of providing services in accordance herewith.
In doing so, the Contractor shall not be responsible for the illegal actions of third parties in the provision of services hereunder, but makes every effort to ensure the protection of the rights and interests of the Customer.
3.2.5. unilaterally change and supplement the terms and conditions hereof without prior agreement with the Customer, while ensuring the publication of the amended terms and conditions on the Website at least one day prior to their enter into force.
3.3. The Customer shall assume the following obligations:
3.3.1. timely pay for the services provided in accordance with section 4 hereof.
3.3.2. do not transfer to third parties and ensure the confidentiality of access passwords to the learning platform.
3.3.3. not to record, distribute (publish, post on Internet sites, copy, transfer or resell to third parties) for commercial or non-commercial purposes the information and materials provided by the Contractor to the Customer hereunder, do not create on its basis information products for the purpose of generating commercial profit, and not to use this information in any other way than for personal use.
3.3.4. not to post commercial advertising, commercial offers, promotional information and any other intrusive information on the Website, except when the placement of such information is agreed upon with the Contractor.
3.3.5. independently monitor all and any updates of information posted on the Contractor's Website, including independently monitor changes to this Offer and the Contract, changes in schedules for opening access to video tutorials and any other materials that are directly or indirectly related to the provision of the Service or affect them somehow. The Customer shall lose the right to refer to the lack of awareness of these changes, if such changes are posted on the Contractor's Website.
3.4. The Customer shall have the right to:
3.4.1. receive any information on training and provision of services.
3.4.2. require the proper and timely provision of services by the Contractor.
3.4.3. refuse to execute the Contract, subject to payment to the Contractor for the services provided before the notice of termination of the Contract and the expenses of the Contractor.
3.4.4. contact the Contractor on all issues related to the provision of services, as well as ask questions related to the provision of services.

4. COST OF SERVICES AND PAYMENT PROCEDURE

4.1. The cost of services and the procedure for payment hereunder shall be indicated on the Website and may be changed by the Contractor at any time unilaterally. The new cost shall come into force from the moment of publication and shall not apply to services paid prior to the time of publication.

‌The cost of services shall not include the commission charged by banks or payment systems for making a payment.

Commission expenses (if any) shall be paid by the Customer additionally, while the cost of services shall be determined as the difference between the amount of the payment made by the user and the amount of the commission withheld.

4.2. Payment for services shall be made in the form of 100% prepayment and shall be carried out by the Customer at his choice:
- through electronic payments using payment systems. After selecting the appropriate option of the training program, the Customer shall be redirected to the payment system service, where he can pay for classes in any convenient way from the options offered by the service;
- transfer to the account of the Contractor.

4.3. In case of unforeseen situations on the part of the Customer, the prepayment made shall not be refundable.
4.4. For the purposes of this Offer, payment shall be deemed made by the Customer from the moment of:

- depositing cash by the Customer to a credit institution or a bank paying agent (without opening a bank account);
- or confirming the execution of the payment by the credit institution serving the Customer or the payment system.

4.5. The Customer shall be solely responsible for the errors that he made when paying for the Services.
The Contractor shall not be liable for losses and other adverse consequences that may arise for the Customer and/or third parties in case of incorrect indication of payment details.
4.6. Security, as well as other conditions for using the payment methods chosen by the Customer, are beyond the scope of the Contract and shall be governed by agreements with the relevant payment systems.

5. LIABILITY OF THE PARTIES
5.1. In the event of non-fulfillment or improper fulfillment by the parties of their obligations hereunder, they shall be liable under the civil legislation of the Russian Federation.
5.2. The Parties shall be exempted from partial or complete fulfillment of obligations hereunder if this was the result of force majeure circumstances or unforeseen acts of state authorities. The Contractor shall be obliged to notify the Customer of the occurrence of such circumstances by posting information on the Website and/or to the e-mail address as indicated by the Customer when making the payment, and the Customer shall be obliged to send the Contractor an email to dreamspell.club@gmail.com indicating in the Subject line "Force-major".
The Parties shall understand as Force majeure (force-majeure) the following events: fire, flood, earthquake, strikes and other natural disasters, war and hostilities, entry into force of regulatory legal acts and acts of enforcement of law that impede the fulfillment of obligations, forced urgent (not planned) hospitalization, documented, if the above circumstances are beyond the control of the Parties hinder the performance hereof and arose after the conclusion of this Contract. Lack of time for the Customer for any reason to complete the training program, being on vacation, business trip, non-payment for access to the Internet, breakdown of the means of access to the Internet shall not be deemed as force majeure circumstances (force-majeure).
5.3. The Contractor shall not be responsible for the impossibility of providing services to the Customer for reasons beyond the control of the Contractor, namely: violation of the Internet, equipment or software by the Customer. In this case, the services shall be deemed rendered properly and payable in full.
5.4. The Contractor shall not be responsible for causing harm to the health of the Customer in case of failure to fulfill his obligations in accordance with clause 1.4. hereof.

6. GROUNDS FOR AMENDING AND TERMINATION OF THE CONTRACT, REFUNDING
6.1. The Contractor shall have the right to unilaterally change and supplement the terms hereof, without prior agreement with the Customer, while ensuring the publication of the amended terms and conditions on the Website at least one day prior to their enter into force.
6.2. This Contract may be terminated at the initiative of the Contractor unilaterally in the following cases:
- delays in payment for services;
- the impossibility of proper fulfillment of the obligation to provide services due to the actions (inaction) of the Customer;
- in other cases stipulated by the legislation of the Russian Federation.

6.3. The Customer shall have the right to refuse to execute this Contract, subject to payment to the Contractor of the expenses actually incurred by him related to the fulfillment of obligations hereunder, and payment for services rendered before the termination hereof.
6.4. Refunding by the Contractor upon termination of the Contract by the Customer shall be carried out at the request of the Customer, sent to the email address: swami@satyanand.ru. The statement states: last name, first name of the Customer, account details for refunding. In the event of termination of the contract when the Customer discovers a significant deficiency in the service, the claim must also be accompanied by the documents necessary for considering the claim, which must contain information about the non-fulfillment or improper fulfillment of the obligations of the Contractor under the Contract. The time limit for consideration of the claim shall be five working days from the date of its receipt by the Contractor.

6.5. Refunding shall be made within ten days from the receipt of the claim (subject to its satisfaction) minus the actual costs of the Contractor at the time of the return and the cost of services until the termination. Such actual costs of the Contractor shall include (but are not limited to) in particular the commissions of banking, credit organizations and relevant payment systems for the implementation of refunding.

‌7. PERIOD OF EFFECTIVENESS OF THE CONTRACT
7.1. The Contract shall come into force from the time of acceptance and shall remain valid until the parties fulfill their obligations hereunder.

8. DISPUTES SETTLEMENT PROCEDURE

8.1. All disputes hereunder must be resolved in compliance with the preliminary claim procedure. The claim in writing shall be sent to the email address of the other party. A party that received the claim shall give a written response on the merits of the claims stated in the claim no later than five (5) working days from the date of receipt of the claim.
8.2. All disputes and disagreements between the Customer and the Contractor, not resolved out of court, shall be referred to the court in accordance with the legislation of the Russian Federation.

9. ADDRESSES AND BANKING /CONTACT DETAILS

CONTRACTOR:
Individual Entrepreneur Solomatin Nikita Igorevich
TIN: 504709379968 OGRNIP 307504725500019
Address: Moscow Region, Khimki, Prospekt Mira St., 21/6, apt. 6
Email address: swami@sattyanand.ru

    </p>

</body>
{% endblock %}
