{% extends "layout.html" %}
{% block content %}
<body class="d-flex text-center text-bg-dark">
    <p class="lead">
Публичная договор-оферта

Настоящий документ, постоянно размещенный в сети Интернет по сетевому адресу http://taplink.cc/dreamspell.ru, является предложением Индивидуального предпринимателя Соломатина Никиты Игоревича ОГРНИП 3075047255500019, ИНН 504709379968 (далее по тексту Оферты – Исполнитель) заключить Договор на оказание информационно-консультационных и обучающих услуг (далее по тексту Оферты - Договор) с любым заинтересованным физическим лицом (далее по тексту Оферты – Заказчик).

Настоящий документ является публичной офертой в соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации.

Надлежащим акцептом настоящей Оферты в соответствии со статьей 438 Гражданского кодекса Российской Федерации считается осуществление Заказчиком в совокупности всех нижеперечисленных действий:

● ознакомление Заказчика с условиями Оферты;

● полной оплаты услуг в соответствии с условиями настоящего Договора. С момента внесения денежных средств в счет оплаты услуг Исполнителя настоящий договор считается заключенным между Заказчиком и Исполнителем;

● согласия на обработку Исполнителем персональных данных Заказчика путём нажатия кнопки "Поехали!”

Принятие настоящей Оферты и, соответственно, заключение настоящего Договора означает, что Заказчик в необходимой для него степени ознакомился с условиями настоящего договора и правилами платежной системы (далее - Системы), спецификой функционирования Системы и обучающей платформы, на которой проводятся вебинары и размещаются обучающие материалы, признает безусловную пригодность Системы, платформы для совершения действий и достижения целей, являющихся предметом настоящего договора.

Осуществляя акцепт настоящей оферты, Заказчик подтверждает, что оказание Исполнителем услуг по настоящему договору дистанционно с использованием программного обеспечения (далее - ПО) полностью соответствует возможности Заказчика пользоваться услугами, оказываемыми таким способом.

Сайт Исполнителя - http://taplink.cc/dreamspell.ru (далее по тексту Сайт).



1. ПРЕДМЕТ ДОГОВОРА

1.1. Настоящий договор является публичной офертой Исполнителя и содержит все существенные условия договора на оказание информационно-консультационных услуг (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).

1.2. Лицо, осуществившее акцепт настоящей публичной оферты, приобретает все права и обязанности Заказчика, предусмотренные настоящим Договором

1.3. Акцептом настоящей публичной оферты является оплата Заказчиком услуг в части или полностью согласно Тарифам, размещенным на Сайте, в соответствии с условиями настоящего Договора. С момента поступления денежных средств в счет оплаты оказываемых услуг на расчетный счет Исполнителя, настоящий Договор считается заключенным между Заказчиком и Исполнителем, что влечет возникновение обязательств Сторон по настоящему Договору

1.4. Исполнитель имеет право в любой момент изменять расписание и условия оказания услуг и условия настоящей публичной Оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на Сайте и в аккаунтах в социальных сетях: https://www.instagram.com/dreamspell.ru/, не менее чем за один день до их ввода в действие.

2. ПОРЯДОК ОКАЗАНИЯ УСЛУГ.

2.1 Оказание услуг осуществляется путем предоставления доступа к закрытому разделу обучающей платформы, сайта, где размещаются материалы, направленные на получение знаний по науке о времени о Dreamspell, а также путем письменных ответов на вопросы Заказчика или иной информационной поддержки Заказчика.
Исполнитель не гарантирует овладение Заказчиком определенным уровнем знаний в совершенстве или достижения целей, преследуемых Заказчиком, в связи с тем, что овладение соответствующим уровнем знаний и достижения целей напрямую зависит от времени, затраченного Заказчиком на самостоятельные тренировки, и усилий, прилагаемых Заказчиком в изучении (включая выполнение практических заданий, рекомендаций Исполнителя и пр.).

2.2. Обратная связь может осуществляться в виде ответов на вопросы Заказчика, отправляемые в специальной форме обратной связи на обучающей платформе либо иным способом, указываемом на Сайте.

2.3. Информация об условиях оказания услуг размещается на Сайте, а также может направляться Заказчику на адрес электронной почты, указанный Заказчиком при оформлении заказа.

2.4. Услуги по настоящему договору ограничены предоставлением Заказчику информации для изучения и формированием навыков для ее самостоятельного использования.

2.5. Исполнитель предоставляет Заказчику доступ к обучающей платформе, Сайту на период обучения после оплаты услуг Исполнителя в полном объеме.

2.6. Заказчик вправе однократно обратиться к Исполнителю с письменным заявлением о переносе сроков оказания оплаченных услуг по настоящему договору с приложением документов, подтверждающих невозможность получения услуг в соответствующем потоке обучения: справки о болезни, о стихийных бедствиях, а также иных событий, делающих невозможным получение Заказчиком услуг, предусмотренных настоящим договором.

2.7. Исполнитель вправе, но не обязан удовлетворить указанное в п.2.6. Договора обращение при наличии в совокупности следующих условий:
- представленные Заказчиком документы подтверждают невозможность получения услуг в оговоренное время;

- имеется реальная возможность включить Заказчика в расписание в удобное для Исполнителя время.

Услуги по настоящему договору считаются оказанными с надлежащим качеством и в срок, а также принятыми Заказчиком (независимо от того, смотрел Заказчик материалы или нет), если в течение 3 (трех) календарных дней по истечению срока, указанного в п. 3.1 настоящего договора, Заказчик не заявил мотивированного возражения на качество и объем таких услуг путем отправки соответствующего обращения по адресу: dreamspell.club@gmail.com.

3. ПРАВА И ОБЯЗАННОСТИ СТОРОН

3.1. Исполнитель принимает на себя следующие обязательства:

3.1.1. предоставить доступ Заказчику к материалам путем отправления ссылки на адрес электронной почты, указанной Заказчиком при заказе услуг, не позднее 10 рабочих дней после оплаты услуг Исполнителя.

3.1.2. организовать Обратную связь в виде ответов на вопросы Заказчика в личном кабинете на обучающей платформе или путем отправки ответов по электронной почте Заказчику.

3.1.3. сохранять конфиденциальную информацию, полученную от Заказчика, при оказании услуг по настоящему договору.

3.1.4. соблюдать требования законодательства, касающиеся обработки, передачи и защиты персональных данных Заказчика.

3.2. Исполнитель имеет право:

3.2.1. не допускать Заказчика к просмотру видеоуроков или вебинарам в случае отсутствия полной оплаты услуг.

3.2.2. самостоятельно выбирать способы оказания услуг, виды информационных и обучающих материалов, порядок и график их размещения и предоставления к ним доступа.

3.2.3. заблокировать участие Заказчика на вебинаре или обратной связи без права на возврат денежных средств в случае нарушения правил поведения в процессе получения услуг по настоящему договору, а именно: разжигание межнациональных конфликтов, отвлечение участников от темы занятия, спам, размещение рекламы, нецензурные высказывания, хамство, оскорбление Исполнителя, оскорбление иных слушателей. Исполнитель вправе заблокировать участие Заказчика по условиям настоящего пункта временно или до окончания обучения.

3.2.4. привлекать в процессе оказания услуг в соответствии с настоящим договором третьих лиц. При этом Исполнитель не несет ответственность за противоправные действия третьих лиц при оказании услуг по настоящему договору, но прилагает все усилия для обеспечения защиты прав и интересов Заказчика.

3.2.5. в одностороннем порядке изменять и дополнять условия настоящего договора без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте не менее чем за один день до их введения в действие.

3.3. Заказчик принимает на себя следующие обязательства:

3.3.1. своевременно вносить плату за предоставляемые услуги в соответствии с разделом 4 настоящего договора.

3.3.2. не передавать третьим лицам и обеспечивать конфиденциальность паролей доступа к обучающей платформе.

3.3.3. не осуществлять запись, не распространять (не публиковать, не размещать на Интернет-сайтах, не копировать, не передавать или не перепродавать третьим лицам) в коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику информацию и материалы в рамках настоящего договора, не создавать на ее основе информационные продукты с целью извлечения коммерческой прибыли, а также не использовать эту информацию каким-либо иным образом, кроме как для личного пользования.

3.3.4. не размещать на Сайте коммерческую рекламу, коммерческие предложения, агитационную информацию и любую другую навязчивую информацию, кроме случаев, когда размещение такой информации согласовано с Исполнителем.

3.3.5. самостоятельно следить за всеми и любыми обновлениями информации, размещаемой на сайте Исполнителя, в том числе, самостоятельно следить за изменениями настоящей Оферты и Договора, изменениями графиков открытия доступа к видеоурокам и любых иных материалов, которые прямо или косвенно связаны с оказанием Услуги или влияют на них. Заказчик лишается права ссылаться на отсутствие осведомлённости об указанных изменениях, если такие изменения размещены на сайте Исполнителя.

3.4. Заказчик имеет право:

3.4.1. получать любую информацию по вопросам обучения и оказания услуг.

3.4.2. требовать надлежащего и своевременного оказания услуг Исполнителем.

3.4.3. отказаться от исполнения Договора при условии оплаты Исполнителю оказанных до момента уведомления о расторжении договора услуг и расходов Исполнителя.

3.4.4. обращаться к Исполнителю по всем вопросам, связанным с оказанием услуг, а также задавать вопросы, связанные с оказанием услуг.




4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК ОПЛАТЫ

4.1. Стоимость услуг и порядок оплаты по настоящему договору указывается на Сайте и может быть изменена Исполнителем в любое время в одностороннем порядке. Новая стоимость вступает в силу с момента опубликования и не распространяется на оплаченные к моменту опубликования услуги.

Стоимость услуг не включает комиссию, взимаемую банками или платежными системами за проведение платежа.

Комиссионные расходы (при наличии таковых) Заказчик оплачивает дополнительно, при этом стоимость услуг определяется как разница суммы совершенного пользователем платежа и суммы удержанной комиссии.

4.2. Оплата услуг производится в виде 100% предоплаты и осуществляется Заказчиком по его выбору:

- через электронные платежи с помощью платежных систем. После выбора соответствующего варианта обучающей программы Заказчик перенаправляется на сервис платежной системы, на котором может оплатить занятия любым удобным ему способом из тех вариантов, которые предложены сервисом;

- переводом на расчетный счет Исполнителя.

4.3. В случае непредвиденных ситуаций со стороны заказчика, внесённая предоплата не возвращается.

4.4. В целях настоящей Оферты оплата считается совершенной Заказчиком с момента:

- внесения Заказчиком наличных денежных средств кредитной организации либо банковскому платежному агенту (без открытия банковского счета);

- или с момента подтверждения исполнения платежа обслуживающей Заказчика кредитной организацией или платежной системой.

4.5. Заказчик самостоятельно несет ответственность за ошибки, которые допущены им при оплате Услуг. Исполнитель не несет ответственности за убытки и иные неблагоприятные последствия, которые могут возникнуть у Заказчика и/или третьих лиц в случае неправильного указания реквизитов для оплаты.

4.6. Безопасность, а также иные условия использования выбранных Заказчиком способов оплаты выходят за рамки Договора и регулируются соглашениями с соответствующими платежными системами.



5. ОТВЕТСТВЕННОСТЬ СТОРОН

5.1. В случае неисполнения или ненадлежащего исполнения сторонами обязательств по настоящему договору они несут ответственность, предусмотренную гражданским законодательством Российской Федерации.

5.2. Стороны освобождаются от частичного или полного исполнения обязательств по настоящему Договору, если это явилось следствием обстоятельств непреодолимой силы или непредвиденных актов государственных органов власти. О возникновении таких обстоятельств Исполнитель обязан уведомить Заказчика путем размещения информации на Сайте и/или на электронный почтовый ящик, указанный Заказчиком при совершении оплаты, а Заказчик обязан направить Исполнителю письмо на электронную почту dreamspell.club@gmail.com с указанием в строке Тема "Форс-мажор".

Под обстоятельствами непреодолимой силы (форс-мажорными обстоятельствами) Стороны понимают: пожар, наводнение, землетрясение, забастовки и другие стихийные бедствия, война и военные действия, вступление в силу нормативных правовых актов и актов применения права, препятствующих исполнению обязательств, вынужденная срочная (не плановая) госпитализация, подтвержденная документально, если вышеперечисленные обстоятельства находятся вне контроля Сторон, препятствуют выполнению настоящего договора и возникли после заключения настоящего договора. Отсутствие времени у Заказчика по любым основаниям для прохождения программы обучения, нахождение в отпуске, командировке, неоплата доступа к сети Интернет, поломка средства доступа к сети Интернет не являются обстоятельствами непреодолимой силы (форс-мажорными обстоятельствами).

5.3. Исполнитель не несет ответственности за невозможность оказания услуг Заказчику по причинам, не зависящим от Исполнителя, а именно: нарушение работы Интернета, оборудования или ПО со стороны Заказчика. В данном случае услуги считаются оказанными надлежащим образом и подлежащим оплате в полном размере.

5.4. Исполнитель не несет ответственности за причинение вреда здоровью Заказчика в случае неисполнения им обязанности согласно п.1.4. настоящего Договора.

6. ОСНОВАНИЯ ИЗМЕНЕНИЯ И РАСТОРЖЕНИЯ ДОГОВОРА, ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ

6.1. Исполнитель вправе в одностороннем порядке изменять и дополнять условия настоящего договора, без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте не менее чем за один день до их введения в действие.

6.2. Настоящий Договор может быть расторгнут по инициативе Исполнителя в одностороннем порядке в случаях:

-просрочки оплаты услуг;

-невозможности надлежащего исполнения обязательства по оказанию услуг вследствие действий (бездействия) Заказчика;

-в иных случаях, предусмотренных законодательством Российской Федерации.

6.3. Заказчик вправе отказаться от исполнения настоящего Договора при условии оплаты Исполнителю фактически понесенных им расходов, связанных с исполнением обязательств по Договору, и оплаты услуг, оказанных до момента расторжения договора.

6.4. Возврат Исполнителем денежных средств при расторжении Заказчиком договора осуществляется по заявлению Заказчика, направленного на электронный адрес: dreamspell.club@gmail.com. В заявлении указываются: фамилия, имя Заказчика, реквизиты счета для возврата денежных средств. В случае расторжения договора при обнаружении Заказчиком существенного недостатка услуги к претензии прилагаются также необходимые для рассмотрения претензии документы, в которых должны быть указаны сведения о неисполнении или ненадлежащем исполнении обязательств Исполнителя по Договору. Срок рассмотрения претензии – 5 рабочих дней с момента ее получения Исполнителем.

6.5. Возврат денежных средств осуществляется в течение 10 дней с момента получения претензии (при условии ее удовлетворения) за вычетом фактических затрат Исполнителя на момент возврата и стоимости услуг до момента расторжения. К таким фактическим затратам Исполнителя относятся (но не ограничиваются) в частности комиссии банковских, кредитных организаций и соответствующих платежных систем за осуществление возврата денежных средств.

7. СРОК ДЕЙСТВИЯ ДОГОВОРА

7.1. Договор вступает в силу с момента акцепта и действует до выполнения сторонами своих обязательств по нему.

8. ПОРЯДОК УРЕГУЛИРОВАНИЯ СПОРОВ

8.1. Все споры по Договору должны разрешаться с соблюдением предварительного претензионного порядка. Претензия в письменном виде должна быть направлена на электронную почту другой стороны. Сторона, получившая претензию, должна дать письменный ответ по существу заявленных в претензии требований не позднее 5 (пяти) рабочих дней с даты получения претензии.

8.2. Все споры и разногласия между Заказчиком и Исполнителем, не разрешенные в досудебном порядке, передаются на рассмотрение в суд в соответствии с законодательством РФ.


9. АДРЕСА И РЕКВИЗИТЫ
Исполнитель:
Индивидуальный предприниматель Соломатин Никита Игоревич
ИНН: 504709379968 ОГРНИП 307504725500019
Адрес: Московская область, г. Химки, ул.Проспект Мира, д.21/6, кв.6
Адрес электронной почты SWAMI@SATTYANAND.RU
    </p>

</body>
{% endblock %}
