{% extends "layout.html" %}

{% block title %}Панель управления - Dreamadmin{% endblock %}

{% block content %}
<section>
    <header>
        <h2>Печати</h2>
    </header>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
        {% for seal in seals %}
            <tr>
                <td>{{ seal.id }}</td>
                <td><a href="/admin/seal/{{ seal.id }}">{{ seal.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
