{% extends "layout.html" %}

{% block title %}{{ seal.name }} - Dreamadmin{% endblock %}

{% block content %}
<h2>Печать №{{ seal.id }} - {{ seal.name }}</h2>

<form method="post" action="/admin/seal/{{ seal.id }}">
    <label for="image">Изображение:</label>
    <input type="text" id="image" name="image" value="{{ seal.image }}">

    <h3>Название</h3>
    <label for="name">Русский:</label>
    <input type="text" id="name" name="name" value="{{ seal.name }}" required>
    
    <label for="name_en">Английский:</label>
    <input type="text" id="name_en" name="name_en" value="">

    <h3>Архетип</h3>
    <label for="archetype">Название (Русский):</label>
    <input type="text" id="archetype" name="archetype" value="{{ seal.archetype }}">
    
    <label for="archetype_en">Название (Английский):</label>
    <input type="text" id="archetype_en" name="archetype_en" value="">

    <h4>Описание архетипа</h4>
    <label for="archetype_description">Полное (Русский):</label>
    <textarea id="archetype_description" name="archetype_description">{{ seal.archetype_description }}</textarea>
    
    <label for="archetype_description_en">Полное (Английский):</label>
    <textarea id="archetype_description_en" name="archetype_description_en"></textarea>
    
    <label for="archetype_description_short">Краткое:</label>
    <textarea id="archetype_description_short" name="archetype_description_short"></textarea>

    <h3>Описание портрета</h3>
    <label for="portrait_description">Полное (Русский):</label>
    <textarea id="portrait_description" name="portrait_description">{{ seal.portrait_description }}</textarea>
    
    <label for="portrait_description_en">Полное (Английский):</label>
    <textarea id="portrait_description_en" name="portrait_description_en"></textarea>
    
    <label for="portrait_description_short">Краткое:</label>
    <textarea id="portrait_description_short" name="portrait_description_short"></textarea>

    <h3>Описание типа</h3>
    <label for="type_description">Полное (Русский):</label>
    <textarea id="type_description" name="type_description">{{ seal.type_description }}</textarea>
    
    <label for="type_description_en">Полное (Английский):</label>
    <textarea id="type_description_en" name="type_description_en"></textarea>
    
    <label for="type_description_short">Краткое:</label>
    <textarea id="type_description_short" name="type_description_short"></textarea>

    <p>
        <button type="submit">Сохранить</button>
        <button type="button" onclick="location.href='/admin'">Отмена</button>
    </p>
</form>
{% endblock %}