{% extends "layout.html" %}

{% block title %}Login - Dreamspell Admin{% endblock %}

{% block content %}
<h2>Admin Login</h2>

{% match error %}
    {% when Some with (msg) %}
        <p style="color: red;">{{ msg }}</p>
    {% when None %}
{% endmatch %}

<form method="post" action="/login">
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required autofocus>
    </div>
    
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}