{% extends "layout.html" %}

{% block title %}Вход - Dreamadmin{% endblock %}

{% block content %}

{% match error %}
    {% when Some with (msg) %}
        <p style="color: red;">{{ msg }}</p>
    {% when None %}
{% endmatch %}

<form method="post" action="/login">
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required autofocus>
    </div>
    
    <div>
        <button type="submit">Войти</button>
    </div>
</form>
{% endblock %}